.open{
    display: block;
}

a{
    text-decoration: none;
}

iframe[src$=".pdf"]{
    width: 100%;
    height: 60vh;
}

h1{
  border-bottom: 3px solid gray;
  opacity: 0.9;  
}

span{
    float: right;
    padding: 0px;
    cursor: pointer;
}
